.botsection {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  gap: 5px;
  background: rgb(27, 41, 53);
}

.watch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play {
  display: flex;
  gap: 20px;
}

.watch > div {
  font-weight: bold;
  color: rgb(121, 184, 243);
  cursor: pointer;
  transition: color 0.15s;
  font-size: 14px;
}
.watch > div:hover {
  color: rgb(170, 206, 240);
  transition: color 0.15s;
}
.play i {
  cursor: pointer;
  font-size: 20px;
  color: white;
}
.info {
  height: 70px;
  overflow: hidden;
  margin-top: 10px;
}
.info > div {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}
.info p {
  font-size: 12px;
  line-height: 1.4;
}
.rating {
  display: flex;
  gap: 10px;
  font-size: 12px;
  margin-top: 10px;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  background: orange;
  font-weight: bold;
}
