.loading {
  width: 320px;
  height: 180px;
  margin-right: 5px;
  background: rgb(18, 30, 41);
  animation: loading 0.8s linear infinite alternate;
}

@keyframes loading {
  0% {
    background: rgb(18, 30, 41);
  }

  100% {
    background: rgb(29, 48, 66);
  }
}
