* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: mainFont;
  src: url(Ember/Amazon-Ember-Medium.ttf);
}

body {
  background: rgb(15, 23, 30);
  font-family: mainFont, Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slick-dots li button:before {
  font-size: 14px;
}
.slick-dots li.slick-active button:before {
  opacity: 0.95;
  color: white;
}
.slick-dots {
  bottom: 10px;
}

.app {
  overflow-x: hidden;
}
